.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.selection {
  display: flex;
  flex-wrap: wrap;
}
.selection > div {
  margin: 0 10px;
}

.strands-chart--periods > div > div > span:first-of-type {
  font-weight: bold;
  padding-right: 6px;
}
